 
<h1>Estilos css e imagenes, desde asset_path</h1>

<%= image_tag 'ImagenDeApoyo.jpg', class: 'img1'  %>
<%= image_tag 'ImagenDeApoyo.jpg', class: 'img2'  %>
<%= image_tag 'ImagenDeApoyo.jpg', class: 'img3'  %>
<%= image_tag 'ImagenDeApoyo.jpg', class: 'img4'  %>
