<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="./assets/img/favicon.png" />
    <meta name="author" content="Eduardo Concha Figueroa">
    <meta name="keywords" content="CV, curriculum, hoja, vida">
    <title>Eduardo </title>
</head>

<body>

    <h2>vista cv, desde el controlador news</h2>

    <!-- cabezera -->
    <header>
        <h1>CURRICULUM VITAE</h1>
        <img src="assets/img/perfil.png" width="200" />
        <h2>Eduardo ****** ****** ****er</h2>
    </header>

    <!-- perfil -->
    <section>
        <h3>Perfil</h3>
        <p>Alumno BootCamp Ruby on Rails para Startups, en busqueda de un puesto junior/entrada, para una <br>importante
            empresa de técnolog­a, donde pueda contribuir a los objetivos, con mis habilidades <br>técnicas, trabajo en
            equipo, compromiso y empatia
        </p>
    </section>

    <!-- antecedentes personales -->
    <section>
        <h3>Antecedentes Personales</h3>
        <ul>
            <li>Rut: *****048-3</li>
            <li>Dirección:  ***** *****cio ****6</li>
            <li>Estado Civil: ******</li>
            <li>Fech. Nacimiento: 27/**/****</li>
            <li>E-mail: e*******1@gmail.***</li>
        </ul>
    </section>


    <!-- skills -->
    <section>
        <h3>Skills</h3>
        <ul>
            <li>Ruby on Rails</li>
            <li>HTML, CSS, GIT</li>
            <li>PostgreSQL</li>
            <li>Design Thinking</li>
            <li>Lean Startup</li>
        </ul>
    </section>


    <!-- antecedentes academicos -->
    <section>
        <h3>Antecedentes academicos</h3>
        <ol>
            <li>BootCamp Ruby on Rails para Startups. ****, 2023</li>
            <li>Administrativo Excel Avanzado. Fundación **** ****, 2021</li>
            <li>Técnico Universitario en Computación. Universidad de las Américas, incompleto, ****</li>
        </ol>
    </section>

    <!-- antecedentes laborales -->
    <section>
        <h3>Antecedentes Laborales</h3>
        <p>Sin Experiencia Laboral</p>
    </section>

    <!-- pie de pagina-->
    <footer>
        <a title="linkedin" href="https://www.linkedin.com/in/eduardo-concha-figueroa-24b4b125b/" target="_blank">
            <img src="./assets/img/linkedin.jpg" alt="linkedin" width="150" /></a>

        <a title="facebook" href="https://www.facebook.com/profile.php?id=100085280861814" target="_blank">
            <img src="./assets/img/facebook.png" alt="facebook" width="100" /></a>

        <p>Santiago de Chile, 29 Marzo 2023</p>
    </footer>

</body>

</html>