<h1>Mi primero formulario aparaagregar reg a la BD</h1>
<p>Viva rails</p>

<%= params %>

<form action="/pages/create" method="get" > 
	<input name="name">
	<input name="age">
	<input type="submit" value="Enviar">  
</form>
