<h1>Todo esto es posible gracias </h1>


<div class="container text-center">
    <div class="">
    <h2>Al mejor profesor</h2>
    <%= image_tag 'profe.jpg', size: "200" %>
    </div>
</div>

<div class="container text-center">
    <div class="">
    <h2>La mejor ayudante</h2>
    <%= image_tag 'naty.png', size: "200" %>
    </div>
</div>


<div class="container text-center">
    <div class="">
    <h2>Los mejor compañeros</h2>
    <%= image_tag 'companeros.png', size: "200" %>
    </div>
</div>