
<div class="container text-center">
    <div class="">
    <h1>Eduardo Concha</h1>
    <h3>Tus ideas, desarrolladas con las mejores tecnologias</h3>
    </div>
</div>

<div class="container text-center">
    <div class="">
    <%= image_tag 'ruby.jpg', size: "150" %>
    <%= image_tag 'rails.png', size: "150"  %>
    <%= image_tag 'bootstrap.png', size: "150"  %>
    <%= image_tag 'htmlcss.png', size: "150" %>
    </div>
</div>


