
<h2>Proyectos</h2>



<div class="container">
<div class="row">

<div class="col-sm mt-5">
<div class="card" >
  <%# <img src="..." class="card-img-top" alt="..."> %>
  <%= image_tag 'proyecto1.png', class: '' %>
  <div class="card-body">
    <h5 class="card-title">Coffe</h5>
    <p class="card-text">Proyecto html, css y bootstrap.</p>
    <a href="#" class="btn btn-primary">Hermoso</a>
  </div>
</div>
</div>


<div class="col-sm mt-5">
<div class="card" >
  <%# <img src="..." class="card-img-top" alt="..."> %>
  <%= image_tag 'proyecto2.png', class: '' %>
  <div class="card-body">
    <h5 class="card-title">Cuppon</h5>
    <p class="card-text">Proyecto html, css y bootstrap.</p>
    <a href="#" class="btn btn-primary">Maravilloso</a>
  </div>
</div>
</div>

</div>
</div>








<div class="container mt-5">
<div class="row  ">

<div class="col-sm mt-5">
<div class="card" >
  <%# <img src="..." class="card-img-top" alt="..."> %>
  <%= image_tag 'proyecto3.png', class: '' %>
  <div class="card-body">
    <h5 class="card-title">Iguana</h5>
    <p class="card-text">Proyecto html, css y bootstrap.</p>
    <a href="#" class="btn btn-primary">Pura Vida</a>
  </div>
</div>
</div>


<div class="col-sm mt-5">
<div class="card" >
  <%# <img src="..." class="card-img-top" alt="..."> %>
  <%= image_tag 'proyecto4.png', class: '' %>
  <div class="card-body">
    <h5 class="card-title">Ricomida</h5>
    <p class="card-text">Proyecto html, css y bootstrap.</p>
    <a href="#" class="btn btn-primary">Me encanta</a>
  </div>
</div>
</div>

</div>
</div>